@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {

}

.album-art {
	border: 2.5px solid #cf0000;
	margin: 15px 30px 15px 35px;
	padding: 15px 15px;
	width: 90px;
	height: 90px;
	float: left;
	border-bottom: 2px;
	
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	border: 2.5px solid #cf0000;
	margin: 15px 30px 15px 35px;
	padding: 15px 15px;
	width: 150px;
	float: left;
}

.record-label {
	color: red;
	font-style: italic;
}

.track-list {
	
}

#about-photo {
	border: 2.5px solid #8f140b;
	margin: 15px 30px 15px 35px;
	padding: 15px 15px;
	float: left;
}

#copyright {
	color: red;
	font-size: 70%;
}

#section-about, #section-discography, #section-equipment {
	border: 2.5px solid #8f140b;
	margin: 50px 5px 25px 5px;
	padding: 15px 15px;
}

#text-intro {
	color: red;
	border: 2.5px solid #8f140b;
	background-color: #424242;
	margin: 50px 5px 25px 5px;
	padding: 18px 18px;
}